<html>
	<head>
		<meta name="viewport" content="width=device-width">
		<link rel="stylesheet" href="../../scripts/style.css">
		<style>
			body {background-color: #d6b47e;}
		</style>
	</head>
	<body>
		<div align="center">
			<br><br>
			<h3>Welcome to Sunshine English School</h3><p>
			<img src="../../images/writing.jpeg" height="400" width="300">
			<p>
               
                <div class="container">

                    <form method="post">
                        <h2>Please sign in</h2>
						<a href="welcome.html">click here to sign-in</a>
                    </form>
                </div>
				I will need your name please?<p>
				And some sort of password <p>
				<button type="submit">sign in</button>
				<p>
			</form>
			<p>
		</div>
		<div id="footer"></div>
	</body>
</html>